# ------------------------------------------------------------------------------
#                           GENERAL SETTINGS
# ------------------------------------------------------------------------------
# The base URL for API requests. This should point to your backend server.
VITE_API_URL=
