@import "tailwindcss";

@theme {
    --color-bg: var(--bg);
    --color-fg: var(--fg);

    --color-primary: var(--primary);
    --color-primary-fg: var(--primary-fg);

    --color-secondary: var(--secondary);
    --color-secondary-fg: var(--secondary-fg);

    --color-card: var(--card);

    --color-muted: rgb(128, 128, 128);
    --spacing-header-h: 3rem;
}

:root {
    --bg: rgb(248, 248, 248);
    --fg: rgb(20, 20, 20);

    --primary: rgb(213, 10, 13);
    --primary-fg: var(--bg);

    --secondary: rgb(253, 214, 97);
    --secondary-fg: var(--fg);

    --card: rgb(240, 240, 240);
}

.dark {
    --bg: rgb(0, 0, 0);
    --fg: rgb(248, 248, 248);

    --primary: rgb(213, 10, 13);
    --primary-fg: var(--bg);

    --secondary: rgb(253, 214, 97);
    --secondary-fg: var(--fg);

    --card: rgb(8, 8, 8);
}

@layer base {
    * {
        transition-property: 
            background-color,
            border-color,
            color,
            fill,
            stroke,
            text-decoration-color;
        
        transition-duration: .3s;
        transition-timing-function: ease;
    }

    html, body, #root {
        min-height: 100%;
    }

    body {
        background-color: var(--bg);
        color: var(--fg);

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .no-transitions *, 
    .no-transitions {
        transition: none !important;
    }
}
